* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* set up var colors to use throughout the sheet */
:root {
    --primary-color: #B633FF;
    --secondary-color: #E033FF;
}

html, body {
    min-height: 100%;
}

body {
    background-color: lightgray;
    position: relative;
}
/* container set up to adjust to most screen sizes */
.container {
    border: 1px solid black;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    border-radius: 1em;
    align-items: center;
    box-shadow: 0 0 10px darkgray;

}
.mainMessage {
    text-align: center;
    margin: 3rem 3rem 1rem 3rem; /* mainMessage is used on all pages as the primary text field */
    font-size: 50px;
}

.info {
    text-align: center;
    margin: 0 3rem 1rem 3rem;
    width: 45rem;
}
/* multiple buttons were used and styled differently.  Unique class attributes kept them sorted */
.button-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 3rem;
    margin: 1rem;

}

.submitButton {
    display: flex;
    position: relative;
    background-color: var(--primary-color);
    border-radius: .5rem;
    box-shadow: 0 0 5px var(--primary-color);
    justify-content: space-around;
    cursor: pointer;
    margin: 1rem;
    padding: 10px;
}

.button1 { 
    display: flex;
    position: relative;
    background-color: var(--primary-color);
    border-radius: .5rem;
    box-shadow: 0 0 5px var(--primary-color);
    justify-content: space-around;
    cursor: pointer;



}
.button2 {
    display: flex;
    position: relative;
    background-color: var(--primary-color);
    border-radius: .5rem;
    box-shadow: 0 0 5px var(--primary-color);
    justify-content: space-around;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    padding: 10px;
    cursor: pointer;


}
/* styling for the answer choices */
#choices {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 3rem 1rem 3rem;
    width: 50%;
    display: none;

}
/* result message set up as display none until generated in js file */
.result {
    display: flex;
    position: relative;

    border-top: 5px solid lightgray;
    padding: 1rem 10rem 3rem 10rem;
    display: none;


}


.time {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 1rem;
}

#high {
    color: var(--secondary-color);
}

#nameForm {
    display: none;
}

#submitScore {
    display: none;
}

#restartQuiz {
    display: none;
}


